html {
    font-family: "Cormorant Infant", sans-serif;
    font-optical-sizing: auto;

    scroll-behavior: smooth;
    font-size: 18px;
}

.handwriting {
    font-family: "Domine", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
}

.gradient {
    background: hsla(39, 100%, 16%, 1);

    background: linear-gradient(
        45deg,
        hsla(39, 100%, 16%, 1) 0%,
        hsla(40, 95%, 8%, 1) 100%
    );

    background: -moz-linear-gradient(
        45deg,
        hsla(39, 100%, 16%, 1) 0%,
        hsla(40, 95%, 8%, 1) 100%
    );

    background: -webkit-linear-gradient(
        45deg,
        hsla(39, 100%, 16%, 1) 0%,
        hsla(40, 95%, 8%, 1) 100%
    );
}