---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-full px-12">
    <div class="flex flex-row justify-between items-center gap-6 mt-24">
      <div class="flex flex-col gap-4">
        <span class="font-black text-6xl">Hello I'm Zbynek</span>
        <span class="font-semibold text-2xl"
          >Tohle je jen filler text, nevim co sem mam napsat.</span
        >
      </div>
      <img src="portrait_placeholder.jpg" width="320" />
    </div>
  </div>
</Layout>
