---
import type { SkillInfo } from "../content/cv/skills";
import PillWithProgress from "./PillWithProgress.astro";

interface Props {
  skills: SkillInfo[];
  heading: string;
  color: string;
}

const { skills, heading, color } = Astro.props;
---

<div class="flex flex-row flex-wrap gap-2 items-center">
  <h3 class="text-xl font-medium block w-full mt-4">
    {heading}
  </h3>
  <div class="flex flex-row flex-wrap gap-2 items-center">
    {
      skills
        .sort((a, b) => b.skill - a.skill)
        .map((s) => (
          <div>
            <PillWithProgress progress={s.skill} text={s.name} color={color} />
          </div>
        ))
    }
  </div>
</div>
