---
import HeaderLink from "./HeaderLink.astro";
---

<div
  id="sticky-header"
  class="bg-vintage-200 dark:bg-vintage-700 dark:text-vintage-200 fixed z-50 left-[12px] right-[12px] md:left-auto box-border top-0 lg:right-16 md:right-7 transform rounded-b-xl py-2 px-6 border border-t-0 dark:border-vintage-600 border-vintage-400 shadow-md transition-all duration-700 ease-in-out opacity-0"
>
  <nav
    class="flex flex-row justify-between items-start text-xl gap-x-6 tracking-wider"
  >
    <HeaderLink href="/">H<span class="text-base">ome</span></HeaderLink>
    <HeaderLink href="/blog">B<span class="text-base">log</span></HeaderLink>
  </nav>
</div>

<script>
  window.addEventListener("scroll", function () {
    var header = document.getElementById("sticky-header");
    if (window.scrollY > 750) {
      if (header === null) return;
      header.classList.remove("opacity-0");
      header.classList.add("opacity-100");
      header.classList.remove("top-[-200px]");
      header.classList.add("top-[0px]");
    } else {
      if (header === null) return;
      header.classList.remove("opacity-100");
      header.classList.add("opacity-0");
      header.classList.remove("top-[0px]");
      header.classList.add("top-[-200px]");
    }
  });
</script>
