---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Tag from "../components/Tag.astro";
import Separator from "../components/Separator.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
console.log(pubDate, updatedDate, heroImage);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="-z-50 px-3 py-4 gradient bg-stone-50 dark:bg-stone-950 text-stone-900 dark:text-stone-200"
  >
    <div
      class="text-stone-900 bg-stone-100 dark:text-stone-200 dark:bg-stone-950"
    >
      <Header />
      <main class="blog w-full lg:w-[50%] mx-auto pb-12">
        <article><slot /></article>
        <div class="my-24 w-full mx-auto flex justify-center">
          <Separator />
        </div>
        <em>Tags:</em>
        {tags ? tags.map((t) => <Tag text={t} />) : "No tags"}
      </main>
    </div>
  </body>
</html>
