---
import BaseHead from "../components/BaseHead.astro";
import StickyHeader from "../components/StickyHeader.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="-z-50 px-3 py-4 gradient bg-stone-50 dark:bg-stone-950 text-stone-900 dark:text-stone-200"
  >
    <div class="rounded-lg">
      <main>
        <header
          class="-z-50 min-h-[100vh] overflow-hidden bg-primary-100 dark:bg-stone-900"
        >
          <StickyHeader />
          <Header />
          <slot name="hero" />
        </header>
        <div
          class="bg-stone-50 dark:bg-stone-950 text-stone-950 dark:text-stone-200"
        >
          <slot />
        </div>
        <Footer />
      </main>
    </div>
  </body>
</html>
