---
import BaseHead from "../components/BaseHead.astro";
import StickyHeader from "../components/StickyHeader.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="-z-50 px-3 py-4 bg-vintage-600">
    <div class="rounded-lg">
      <main>
        <header
          class="-z-50 min-h-[100vh] overflow-hidden bg-vintage-200 dark:bg-vintage-700 dark:text-vintage-200"
        >
          <StickyHeader />
          <Header />
          <slot name="hero" />
        </header>
        <div
          class="bg-vintage-50 dark:bg-vintage-900 text-vintage-900 dark:text-vintage-100"
        >
          <slot />
          <Footer />
        </div>
      </main>
    </div>
  </body>
</html>
